<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/view.css">
  <link rel="stylesheet" href="static\bootstrap\dist\css\bootstrap.min.css">
  <title>Document</title>
</head>
<body>

    <section class="container">
      <div class="row">
        <section class="texto">
          <input type="text" placeholder="tarea">
          <br>
          <button>Guardar</button>
          <button>Editar</button>
          <button>Eliminar</button>

        </section>
      </div>
    </section>

    <section class="container">
        <div class="row">

        </div>
      </section>
      <section class="container">
          <div class="row">

          </div>
        </section>

  <script src="../js/view.js"></script>
  <script src="static\bootstrap\dist\js\bootstrap.min.js" charset="utf-8"></script>
</body>
</html>
