body {
  background-color: #f1f1f1 !important;
}
.company {
  text-align: left;
}
.btn .btn-primary {
  background: #004581 !important;
}
nav {
  background-color: #004581 !important; 
  color: #f1f1f1;
}
footer{
  text-align: center;
}