body{
  background-color: #f1f1f1 !important;
}
.container {
  float: left;
  width: 300px;
  margin-left: 6px;
  list-style: none;
  margin-top: 10px;
  }
  .row .col-lg-4{
    float: left !important;
  }
  
  .navbar-brand{
    text-align: center;
    color: #056DAE;
  }
  
  nav a .company{
    color: aliceblue;
    text-align: left;
  }
  